/*index.html styling*/
/*Structure:
    - Hero Section
        -planetHeroImage
        -heroImageText 
        -heroButton    
        -additional hero header/text styling

    - nasaExplore
        -nasaExploreText
        -nasaExploreImage
        -nasaButtonContainer
            -nasaButton
    - Universal Styling
        -body/html styling
        -p fonts
        -h1 fonts
    */

/*#region heroSection*/      

/*Sourced originally from: https://www.w3schools.com/howto/howto_css_hero_image.asp*/

/*Hero image*/
.heroSection{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("../images/heroImagePlaceholder.jpg");
    height: 80%; /*how much of the screen to cover*/

    /*Centers the image and scales*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the hero image */
.heroImageText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#heroButton{
    padding: 1em;
}
/*Edit heroHeader fontsize*/
#heroHeader {
    font-size: 4rem;

}

#heroText{
    font-size: 1.5em;
}

/*HeroButton*/


/*#endregion heroSection*/

/***********************
**      Section 1     **
************************/
/*#region nasaExplore*/

/*Sourced used to figure out flex container: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Aligning_items_in_a_flex_container*/
.nasaExplore {
    display: flex;
    justify-content: space-between;
    /*Space inbetween hero and nasaExplore*/
    /*top|right|bottom|left IF just using margin prop*/
    margin-top: 10em; 
    width: 100%;
    height: 70%;

    border: 2px solid black;
}
.nasaExploreText{
    width:30%;
    padding:10% 5% 10% 5%;
    border: 2px dotted gray;
    border-radius: 5px;
}

.nasaExploreImage {  
    vertical-align: middle;
    width: 60%;
    height: 100%;
    margin:auto;
}

.nasaExploreImage img {
    display:block;
    width: 100%;
    height: 100%;
    border: 2px dotted gray;
}

.nasaExploreButton{
    margin-top: 10%;
}

#nasaButton {
    padding: 1em;
}
/*#endregion nasaExplore*/






/***********************
**      Section 2     **
************************/




/***********************
**      Section 3     **
************************/


/***********************
**      Section 4     **
************************/

/*#region univStyling*/
/*Universal Styling*/

/*Makes sure whole screen is covered*/
body,html {
    height:100%;
}
p {
    font-family: 'Jost', sans-serif;
}
h1 {
    font-family: 'Manrope', sans-serif;
}
/*#endregion univStyling*/
