/*index.html styling*/
/*Structure:
    - Hero Section
        -planetHeroImage
        -heroImageText 
        -heroButton    
        -additional hero header/text styling

    - nasaExplore
        -nasaExploreText
        -nasaExploreImage
        -nasaButtonContainer
            -nasaButton
    - Universal Styling
        -body/html styling
        -p fonts
        -h1 fonts
    */

/*#region heroSection*/      

/*Sourced originally from:
 https://www.w3schools.com/howto/howto_css_hero_image.asp
 https://css-tricks.com/perfect-full-page-background-image/
 */
header {
    height: 80vh;
    width: auto;
}

/*also adapted from: https://www.youtube.com/watch?v=T33NN_pPeNI*/
/*Adjusted using: https://dev.to/jslim/fading-up-sections-using-intersection-observer-3fhj*/

.hidden, .show {
    transition: opacity 1s, transform 1s;
}
.hidden {
    opacity: 0;
    transform: translateY(50px);
}
.show {
    opacity: 1;
    transform: none;
}

/*Hero image*/
.heroSection{
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .9)), url("/media/images/heroStarrySky.jpg");
    /*Centers the image and scales i think*/
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    overflow: hidden;
}

/* Place text in the middle of the hero image */
.heroImageText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#heroButton{
    padding: 1em;
    border-radius: 10px;
    border: none;
    opacity: 0.7;
    transition: 0.3s;
}

#heroButton:hover {
    padding: 1em;
    border: none;
    background-color: #e7e7e7;
    opacity: 1;
}
/*Edit heroHeader fontsize*/
#heroHeader {
    font-size: 4rem;

}
#heroText{
    font-size: 1.6em;
}

/*HeroButton*/


/*#endregion heroSection*/

/***********************
**      Section 1     **
************************/
/*#region nasaExplore*/

/*Sourced used to figure out flex container:
 https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Aligning_items_in_a_flex_container
 https://developer.mozilla.org/en-US/docs/Web/CSS/overflow
 https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Overflow
 */


/*Idk why it has a horizontal bar, NEED TO FIX*/
.nasaExplore {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*Space inbetween hero and nasaExplore*/
    /*top|right|bottom|left IF just using margin prop*/
    margin-top: 5em; 
    height: 80%;
    border: rgba(37,37,37,.37) 2px solid
}

.nasaExploreText{
    width:30%;
    padding:10% 5% 10% 5%;
    border-radius: 5px;
    /*should help when resizing + avoid clips ??*/
    overflow: auto;
}

.nasaExploreImage {  
    vertical-align: middle;
    width: 60%;
    height: 100%;
    margin:auto;
    overflow: hidden; /*Hidden w/o scroll bars*/
}

.nasaExploreImage img {
    display:block;
    /*https://www.w3schools.com/css/css3_object-fit.asp to make sure img doesn't go brr*/
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}

.nasaExploreButton{
    margin-top: 10%;
}

#nasaButton {
    color: black;
    padding: 1em;
    border-radius: 10px;
    border: none;
    opacity: 0.7;
    transition: 0.3s;
}
/*Button hover styling: https://www.w3schools.com/css/css3_buttons.asp*/
#nasaButton:hover {
    padding: 1em;
    border: none;
    background-color: #e7e7e7;
    opacity: 1;
}
/*#endregion nasaExplore*/


/***********************
**      Section 2     **
************************/

/*#region planetsIntro*/


/*Sources: 
https://developer.mozilla.org/en-US/docs/Web/CSS/flex-direction
https://developer.mozilla.org/en-US/docs/Web/CSS/align-items
WHY IS FLEXBOX SO WEIRD
*/


.planetsIntro {
    display: flex;
    /*Space inbetween hero and nasaExplore*/
    /*top|right|bottom|left IF just using margin prop*/

    /*Tells the flexbox to center everything and align everything inside it, basically its "children" too
    */
    align-items: center;
    /*Tells flexbox how items should be aligned*/
    flex-direction: column;
    
    border: 2px solid black;

    margin-top: 5em; 
    height: 80%;
}

#planetsIntroTitle{
    display: block;
    width: 100%;
    height: 10%;
    text-align: center; 
    padding-top: 5%;
    margin: 0 auto;
}

.planetIntroText{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
/*for the video element: https://www.w3schools.com/tags/tag_video.asp*/

.planetIntroVideoContainer{
    margin: auto;
    width: 100%;
}

#planetIntroVideo{
    object-fit: cover;
    width: 100%;
    margin: auto;
    padding: auto;
}

.planetIntroVideoContainer p{
    margin: auto;
    padding-top: 1%;
    text-align: center;
}

/*#endregion planetsIntro*/

.nasaImageOfDay{
    margin-top: 5em; 
    height: 80%;
    border: 2px solid black;
    text-align: center;
    }

/***********************
**      Section 3     **
************************/


/***********************
**      Section 4     **
************************/

/*#region univStyling*/
/*Universal Styling*/

/*Makes sure whole screen is covered including margin:0, it defaults to 8x i think*/
/*https://medium.com/@patrickdunn_15451/beware-default-html-margins-6159ae7a8b3e talks about it here*/
body,html {
    height: 100%;
    margin: 0;
    /*Makes jumping around page smoother, not actual user scrolling on site*/
    scroll-behavior: smooth;
}

p {
    font-family: 'Jost', sans-serif;

}

h1, h3,h4 {
    font-family: 'Manrope', sans-serif;
}


/*#endregion univStyling*/
