
/*index.html styling*/
/*Structure:
    - Hero Section
        -planetHeroImage
        -heroImageText 
        -heroButton    
        -additional hero header/text styling
    - nasaExplore
        -nasaExploreText
        -nasaExploreImage
        -nasaButtonContainer
            -nasaButton
    - footer
    - Universal Styling
        -body/html styling
        -p fonts
        -h1 fonts
    */

/*#region heroSection*/      

/*Sourced originally from:
 https://www.w3schools.com/howto/howto_css_hero_image.asp
 https://css-tricks.com/perfect-full-page-background-image/
 */
header {
    height: 80vh;
    width: auto;
}

#jsCursor {
    position: fixed;
    box-shadow: 0px 0px 130px 100px rgba(184, 127, 231, 0.4); 
    border-radius: 70%;
    z-index: 1;
}

body {
  --cursor-left: 1000px;
  --cursor-top: 1000px;
}

body::before {
    content: '';
    position: fixed;
    left: var(--cursor-left);
    top: var(--cursor-top);
    box-shadow: 0 0 130px 100px rgba(184, 127, 231, 0.4); 
    border-radius: 70%;
    z-index: 1;
}

/*also adapted from: https://www.youtube.com/watch?v=T33NN_pPeNI*/
/*Adjusted using: https://dev.to/jslim/fading-up-sections-using-intersection-observer-3fhj*/

.hidden, .show {
    transition: opacity 1s, transform 1s;
}
.hidden {
    opacity: 0;
    transform: translateY(50px);
}
.show {
    opacity: 1;
    transform: none;
}

/*Hero image*/
/*Heroimage taken from: https://www.freepik.com/free-vector/abstract-splashed-watercolor-textured-background_2632737.htm#fromView=search&page=1&position=4&uuid=3298cea8-d533-48e7-bf72-13c935c2f941&query=Purple+hero+background+space*/
.heroSection{
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .9)), url("/media/images/heroImage.jpg");
    /*Centers the image and scales i think*/
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    overflow: hidden;
}

/* Place text in the middle of the hero image */
.heroImageText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#heroButton{
    color: white;
    background-color: #32004F;
    box-shadow: 0 4px 15px rgba(10, 0, 21, 0.5);
    padding: 17px;
    border-radius: 10px;
    border: none;
    opacity: 0.7;
    transition: 0.3s;
}

#heroButton:hover {
    padding: 20px;
    border: none;
    background-color: #6B2D8F; 
    box-shadow: 0 0 20px rgba(184, 127, 231, 0.6);
    opacity: 1;
}
/*Edit heroHeader fontsize*/
#heroHeader {
    font-size: 4rem;

}
#heroText{
    font-size: 1.6em;
}

/*HeroButton*/


/*#endregion heroSection*/

/***********************
**      Section 1     **
************************/
/*#region nasaExplore*/

/*Sourced used to figure out flex container:
 https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Aligning_items_in_a_flex_container
 https://developer.mozilla.org/en-US/docs/Web/CSS/overflow
 https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Overflow
 */


/*Idk why it has a horizontal bar, NEED TO FIX*/
.nasaExplore {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*Space inbetween hero and nasaExplore*/
    /*top|right|bottom|left IF just using margin prop*/
    margin-top: 5em; 
    height: 80%;
}

.nasaExploreText{
    width:30%;
    padding:10% 5% 10% 5%;
    border-radius: 5px;
    /*should help when resizing + avoid clips ??*/
    overflow: auto;
}

.nasaExploreImage {  
    vertical-align: middle;
    width: 60%;
    height: 100%;
    margin:auto;
    overflow: hidden; /*Hidden w/o scroll bars*/    
    box-shadow: 0 0 20px rgba(184, 127, 231, 0.6);
    border-radius: 50px;
    z-index: 2;

}

.nasaExploreImage img {
    display:block;
    /*https://www.w3schools.com/css/css3_object-fit.asp to make sure img doesn't go brr*/
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    z-index: 2;
}

.nasaExploreButton{
    margin-top: 10%;
}

#nasaButton {
    color: white;
    background-color: #32004F;
    box-shadow: 0 4px 15px rgba(126, 5, 255, 0.5);
    padding: 17px;
    border-radius: 10px;
    border: none;
    opacity: 0.7;
    transition: 0.3s;
}
/*Button hover styling: https://www.w3schools.com/css/css3_buttons.asp*/
#nasaButton:hover {
    padding: 20px;
    border: none;
    background-color: #6B2D8F; 
    box-shadow: 0 0 20px rgba(184, 127, 231, 0.6);
    opacity: 1;
}
/*#endregion nasaExplore*/


/***********************
**      Section 2     **
************************/

/*#region planetsIntro*/


/*Sources: 
https://developer.mozilla.org/en-US/docs/Web/CSS/flex-direction
https://developer.mozilla.org/en-US/docs/Web/CSS/align-items
WHY IS FLEXBOX SO WEIRD
*/


.planetsIntro {
    display: flex;
    /*Space inbetween hero and nasaExplore*/
    /*top|right|bottom|left IF just using margin prop*/

    /*Tells the flexbox to center everything and align everything inside it, basically its "children" too
    */
    align-items: center;
    /*Tells flexbox how items should be aligned*/
    flex-direction: column;
    

    margin-top: 5em; 
    height: 80%;
}

#planetsIntroTitle{
    display: block;
    width: 100%;
    height: 10%;
    text-align: center; 
    padding-top: 5%;
    margin: 0 auto;
}

.planetIntroText{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
/*for the video element: https://www.w3schools.com/tags/tag_video.asp*/

.planetIntroVideoContainer{
    margin: auto;
    width: 100%;
    z-index: 2;

}

#planetIntroVideo{
    object-fit: cover;
    width: 100%;
    margin: auto;
    padding: auto;
    box-shadow: 0 0 20px rgba(184, 127, 231, 0.6);
    border-radius: 50px;
}

.planetIntroVideoContainer p{
    margin: auto;
    padding-top: 1%;
    text-align: center;
}

/*#endregion planetsIntro*/


/***********************
**      Section 3     **
************************/

#nasaImgOfDayHeader {
    text-align: center;
    margin-top: 2em;
}
.nasaImageOfDay{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    margin-top: 5em; 
    height: 80%;
}

.dailyImageContainer{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    color: white;
    font-size: 1.5em;
}
.nasaImgMetadata{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#nasaDailyImg{
    width: 100%;
    height: auto;
    box-shadow: 0 0 20px rgba(184, 127, 231, 0.6);
    border-radius: 50px;
}
#nasaImgDescription{
    padding: 1em 10% 1em 10%; 
}


/***********************
**      Footer     **
************************/

#sourcesFooter {
    text-align: center;
    padding: 1em;
    left: 0;
    bottom: 0;
    letter-spacing: 0.05em;
    margin-top: 5em;
}
#sourcesFooter a {
    padding: 0.1em;
}

/*#region univStyling*/
/*Universal Styling*/

/*Makes sure whole screen is covered including margin:0, it defaults to 8x i think*/
/*https://medium.com/@patrickdunn_15451/beware-default-html-margins-6159ae7a8b3e talks about it here*/
body,html {
    height: 100%;
    padding: 0;
    /*Makes jumping around page smoother, not actual user scrolling on site*/
    scroll-behavior: smooth;
    background:#030105;                 /* Deep Nebula - matches hero dark bottom */
;
}


p {
    color: #B8B4CC;
    font-family: 'Jost', sans-serif;
}

h1 {
    color: #EDEAFF;
    font-family: 'Manrope', sans-serif;
    text-shadow: 0 0 15px #9D7CFF;
}


h2,h3,h4 {
    color: #EDEAFF;
    font-family: 'Manrope', sans-serif;
    text-shadow: 0 0 15px #9D7CFF;
}

/*From: https://www.w3schools.com/css/css_link.asp*/

/* unvisited link */
a:link {
  color: #EDEAFF;
}

/* visited link */
a:visited {
  color: #9D7CFF;
}

/* mouse over link */
a:hover {
  color: #6B2D8F;
}

/* selected link */
a:active {
  color: #6B2D8F;
}

/*referenced used: https://www.w3schools.com/css/css_navbar_horizontal.asp*/

#horizontalNavbar {
    position: fixed;
    width: 100%;
    overflow: hidden;
    background-color: #03010596;
    text-align: left;
    padding: 1em;
    z-index: 3;
}

#horizontalNavbar li {
    list-style-type: none;
    padding-left: 1em;
    display: inline;
}
#horizontalNavbar li a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding-left: 1.5em;
    font-family: 'jost', sans-serif;
    font-size: 1.4em;
}

#horizontalNavbar li a:hover {
  color: #bdabf5;
}

/*#endregion univStyling*/



