/*index.html styling*/
/*Structure:
    - Hero Section
        -planetHeroImage
        -heroImageText 
        -heroButton    
        -additional hero header/text styling

    - nasaExplore
        -nasaExploreText
        -nasaExploreImage
        -nasaButtonContainer
            -nasaButton
    - Universal Styling
        -body/html styling
        -p fonts
        -h1 fonts
    */

/*#region heroSection*/      

/*Sourced originally from:
 https://www.w3schools.com/howto/howto_css_hero_image.asp
 https://css-tricks.com/perfect-full-page-background-image/
 */

/*Hero image*/
.heroSection{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("../images/heroImagePlaceholder.jpg");
    min-height: 80%; /*how much of the screen to c
    /*Centers the image and scales i think*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    overflow: hidden;
}

/* Place text in the middle of the hero image */
.heroImageText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#heroButton{
    padding: 1em;
}
/*Edit heroHeader fontsize*/
#heroHeader {
    font-size: 4rem;

}

#heroText{
    font-size: 1.5em;
}

/*HeroButton*/


/*#endregion heroSection*/

/***********************
**      Section 1     **
************************/
/*#region nasaExplore*/

/*Sourced used to figure out flex container: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Aligning_items_in_a_flex_container*/

/*Idk why it has a horizontal bar, NEED TO FIX*/
.nasaExplore {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    /*Space inbetween hero and nasaExplore*/
    /*top|right|bottom|left IF just using margin prop*/
    margin-top: 10em; 
    height: 70%;
    border: 2px solid black;
}

.nasaExploreText{
    width:30%;
    padding:10% 5% 10% 5%;
    border: 2px dotted gray;
    border-radius: 5px;
}

.nasaExploreImage {  
    vertical-align: middle;
    width: 60%;
    height: 100%;
    margin:auto;
}

.nasaExploreImage img {
    display:block;
    width: 100%;
    height: 100%;
    border: 2px dotted gray;
}

.nasaExploreButton{
    margin-top: 10%;
}

#nasaButton {
    padding: 1em;
}
/*#endregion nasaExplore*/






/***********************
**      Section 2     **
************************/




/***********************
**      Section 3     **
************************/


/***********************
**      Section 4     **
************************/

/*#region univStyling*/
/*Universal Styling*/

/*Makes sure whole screen is covered including margin:0, it defaults to 8x i think*/
/*https://medium.com/@patrickdunn_15451/beware-default-html-margins-6159ae7a8b3e talks about it here*/
body,html {
    height: 100%;
    margin: 0;
}

p {
    font-family: 'Jost', sans-serif;
}

h1 {
    font-family: 'Manrope', sans-serif;
}
/*#endregion univStyling*/
